{% extends "layout.html" %}
{% block content %}
{% if 'email' in session %}
<table>
</tr>
<form action="" method="POST">		
<tr>	<td><label>	Nom</label>
		<input  class="input_text" type="text" name="nom" minlenght="1" pattern="([A-Za-z ]{1,50})"/> 
	</td>
	<td>	<label>Cognom 1</label>
		<input class="input_text" type="text" name="cognom1" pattern=".{0}|([A-Za-z ]{1,50})"/>
	</td>
	<td>	<label>Cognom 2</label>
		<input class="input_text" type="text" name="cognom2" pattern=".{0}|([A-Za-z ]{1,50})"/>
	</td>
	<td rowspan="3">
		<label>Rol</label>
            {% for rols in rols %}		
            <input type="checkbox" name="rol" value={{rols.id_rol}}> {{ rols.nom_rol }}<br>
            <input type="date" name="inici"><input type="date" name="fi"><br><br>      
            {% endfor %}
	</td>
</tr>
<tr>	<td>	
	<label>Sexe</label>
	<select id="sexe" name="sexe" size="1">
		<option value"" selected="selected">- selecciona -</option>
		<option value="1">Home</option>
		<option value="0">Dona</option>
	</select>
	</td>
	<td>
		<label>DNI</label>
		<input class="input_text" type="text" name="dni" pattern=".{0}|([0-9]{8})+([a-z]{1})"/>		
	</td>
	<td>
		<label>PASSPORT</label>
		<input class="input_text" type="text" name="passport"/>
	</td>
</tr>
<tr>
	<td>
		<label>Data de naixement</label>
		<input type="date" name="data_naix"/>
	</td>
        <td>    <label>Telefon 1</label>
                <input class="input_text" type="text" name="telefon1" pattern="[0-9]{9}"/>
        </td>
        <td>    <label>Telefon 2</label>
                <input class="input_text" type="text" name="telefon2" pattern="[0-9]{9}"/>
        </td>
</tr>
<tr>
        <td>    <label>Email 1</label>
                <input class="input_text" type="email" name="email1"/>
        </td>
        <td>    <label>Email 2</label>
                <input class="input_text" type="email" name="email2"/>
        </td>
	<td>
		<label>Actiu</label>
        <select id="actiu" name="actiu" size="1">
                <option value"" selected="selected">- selecciona -</option>
                <option value="1">Si</option>
                <option value="0">No</option>
        </select>
	</td>
        <td rowspan="2">
            <label>Assignació de permisos</label><br><br>
            {% for grups in grups %}                        
                <input type="checkbox" name="grup" value={{grups.id_grup}}>{{ grups.nom_grup }}<br>
                <input type="date" name="inici_permis"><input type="date" name="fi_permis"><br><br>
            {% endfor %}
        </td>
</tr>
<tr>
	<td>
	<button class="input" type="submit">Afegeix</button>
	</td>
	<td><label>	Foto</label>
		<input class="input_text" type="text" name="foto"/>
	</td>
</tr>
</table>
{% else %}

Fes Login per començar

{% endif %}
{% endblock %}