<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Nou Registre</title>
		<link rel="stylesheet" href="static/css/foundation.css" />
		<script src="static/js/vendor/modernizr.js"></script>
		</head>
<table>
</tr>
<form action="" method="POST">		
<tr>	<td>	Nom
		<input type="text" name="nom"/> 
	</td>
	<td>	Cognom 1
		<input type="text" name="cognom1"/>
	</td>
	<td>	Cognom 2
		<input type="text" name="cognom2"/>
	</td>
	<td rowspan="2">
		Rol<br>
		{% for rols in rols %}		
		<input type="checkbox" name="rol" value={{rols.id_rol}}> {{ rols.nom_rol }}<br>
		{% endfor %}
	</td>
</tr>
<tr>	<td>	
	Sexe
	<select id="sexe" name="sexe" size="1">
		<option value"" selected="selected">- selecciona -</option>
		<option value="1">Home</option>
		<option value="0">Dona</option>
	</select>
	</td>
	<td>
		DNI
		<input type="text" name="dni"/>		
	</td>
	<td>
		PASSPORT
		<input type="text" name="passport"/>
	</td>
</tr>
<tr>
	<td>
		Data de naixement
		<input type="text" name="data_naix"/>
	</td>
        <td>    Telefon 1
                <input type="text" name="telefon1"/>
        </td>
        <td>    Telefon 2
                <input type="text" name="telefon2"/>
        </td>
        <td rowspan="3">
            Assignació de permisos<br>
            {% for grups in grups %}                        
                <input type="checkbox" name="grup" value={{grups.id_grup}}>{{ grups.nom_grup }}<br>
            {% endfor %}		
        </td>
</tr>
<tr>
        <td>    Email 1
                <input type="text" name="email1"/>
        </td>
        <td>    Email 2
                <input type="text" name="email2"/>
        </td>
	<td>
		Actiu
        <select id="actiu" name="actiu" size="1">
                <option value"" selected="selected">- selecciona -</option>
                <option value="1">Si</option>
                <option value="0">No</option>
        </select>
	</td>
</tr>
<tr>
	<td>
	<button class="button postfix" type="submit">Afegeix</button>
	</td>
	<td>
	<a href="/" class="button postfix">Enrere</a>
	</td>
	<td>	Foto
		<input type="text" name="foto"/>
	</td>
</tr>
</table>
