{% extends "layout.html" %}
{% block content %}
{% if session['email'] %}
<h3>Afegir Permis</h3>
<hr>
<table>
</tr>
<form action="" method="POST">		
<tr>	<td><label>	Nom Permis</label>
		<input class="text_input" type="text" name="nom_permis" pattern="([A-Za-z]{1,40})"/> 
	</td>
	<td><label>Actiu</label>
		<select id="actiu" name="actiu" size="1">
                        <option value="" selected="selected">- Selecciona -</option>
                        <option value="1">Si</option>
                        <option value="0">No</option>
		</select>		
	</td>
        <td><label>Grup</label>
            <select id="grup" name="grup" size="1">
                        <option value="" selected="selected">- Selecciona -</option>
                    {% for grups in grups %}                        
                        <option value={{grups.id_grup}}>{{ grups.nom_grup }}</option>
                    {% endfor %}		
            </select>
        </td>
        
</tr>
<tr>
	<td><br>
	<button class="input" type="submit">Afegeix</button>
	</td>
</tr>
</table>
{% else %}

No tens permis per accedir aqui.

{% endif %}
{% endblock %}