{% extends "layout.html" %}
{% block content %}
{% if 'email' in session %}
<h3>Afegir Registre GECAR</h3>
<hr>
<table>
<form action="" method="POST">
<tr>
    <td><label>	Foto</label>
        <input class="text_input" type="text" name="foto"/>
    </td>
<!--
    <td><label>	DNI</label>
        <input class="text_input" type="text" name="dni" pattern=".{0}|([0-9]{8})+([a-z]{1})"/>
    </td>
    
    <td><label>	Passaport</label>
        <input class="text_input" type="text" name="passaport"/>
    </td>
</tr>
<tr>	<td><label>	Nom</label>
		<input  class="text_input" type="text" name="nom" minlenght="1" pattern="([A-Za-z ]{1,20})" required/> 
	</td>
	<td>	<label>Cognom 1</label>
		<input class="text_input" type="text" name="cognom1" pattern=".{0}|([A-Za-z ]{1,20})"/>
	</td>
	<td>	<label>Cognom 2</label>
		<input class="text_input" type="text" name="cognom2" pattern=".{0}|([A-Za-z ]{1,20})"/>
	</td>
    <td>	
	<label>Sexe</label>
	<select id="sexe" name="sexe" size="1">
		<option value"" selected="selected">- selecciona -</option>
		<option value="1">Home</option>
		<option value="0">Dona</option>
	</select>
	</td>
</tr>
<tr>
    <td><label>	SS</label>
        <input class="text_input" type="text" name="ss"/>
    </td>
    <td><label>	Tipus</label>
        <input class="text_input" type="text" name="tipus"/>
    </td>
	<td>
		<label>Data de naixement</label>
		<input type="date" name="data_neix"/>
	</td>
	<td>
		<label>Lloc de naixement</label>
		<input class="text_input" type="text_input" name="lloc_neix"/>
	</td>
</tr>
<tr>
	<td>
		<label>Provincia de naixement</label>
		<input class="text_input" type="text_input" name="provincia_neix"/>
	</td>
	<td>
		<label>Comarca de naixement</label>
		<input class="text_input" type="text_input" name="comarca_neix"/>
	</td>
	<td>
		<label>Comunitat A. de naixement</label>
		<input class="text_input" type="text_input" name="auto_neix"/>
	</td>
	<td>
		<label>Pais de naixement</label>
		<input class="text_input" type="text_input" name="pais_neix"/>
	</td>
</tr>
<tr>
	<td>
		<label>Direcció</label>
		<input class="text_input" type="text_input" name="direccio"/>
	</td>	<td>
		<label>Població</label>
		<input class="text_input" type="text_input" name="poblacio"/>
	</td>	<td>
		<label>Provincia</label>
		<input class="text_input" type="text_input" name="provincia"/>
	</td>	<td>
		<label>CP</label>
		<input class="text_input" type="text_input" name="cp"/>
	</td>
</tr>
<tr>
	</td>	<td>
		<label>Comarca</label>
		<input class="text_input" type="text_input" name="comarca"/>
	</td>
	</td>	<td>
		<label>Autonomia</label>
		<input class="text_input" type="text_input" name="autonomia"/>
	</td>
	</td>	<td>
		<label>Pais</label>
		<input class="text_input" type="text_input" name="pais"/>
	</td>
        <td>    <label>Telefon 1</label>
                <input class="text_input" type="text" name="telefon1" pattern="[0-9]{9}"/>
        </td>
</tr>
<tr>
        <td>    <label>Telefon 2</label>
                <input class="text_input" type="text" name="telefon2" pattern="[0-9]{9}"/>
        </td>
        <td>    <label>Email 1</label>
                <input class="text_input" type="email" name="e_mail1"/>
        </td>
        <td>    <label>Estudis Atuals</label>
                <input class="text_input" type="text" name="estudis_act"/>
        </td>
        <td>    <label>Nivell Academic</label>
                <input class="text_input" type="text" name="nivel_academic"/>
        </td>
</tr>
<tr>
        <td>    <label>Tipus Centre</label>
                <input class="text_input" type="text" name="tipus_centre"/>
        </td>
        <td>    <label>Nom Centre</label>
                <input class="text_input" type="text" name="nom_centre"/>
        </td>
        <td>    <label>Aceptació</label>
                <input class="text_input" type="text" name="aceptació"/>
        </td>
        <td>    <label>Revisió Medica</label>
                <input class="text_input" type="text" name="revisiom"/>
        </td>
</tr>
<tr>
        <td>    <label>Revisió Psicologica</label>
                <input class="text_input" type="text" name="revisiops"/>
        </td>
        <td>    <label>Fitxa Complerta</label>
                <input class="text_input" type="text" name="fitxacomplerta"/>
        </td>
        <td>    <label>Vehicle</label>
                <input class="text_input" type="text" name="vehicle"/>
        </td>
        <td>    <label>Matricula</label>
                <input class="text_input" type="text" name="matricula"/>
        </td>
</tr>
<tr>
        <td>    <label>Tutor 1</label>
                <input class="text_input" type="text" name="tutor1"/>
        </td>
        <td>    <label>Contacte 1</label>
                <input class="text_input" type="text" name="contacte1"/>
        </td>
        <td>    <label>Tutor 2</label>
                <input class="text_input" type="text" name="tutor2"/>
        </td>
        <td>    <label>Contacte 2</label>
                <input class="text_input" type="text" name="contacte2"/>
        </td>
</tr>
<tr>
	<td>
		<label>Actiu</label>
        <select id="actiu" name="actiu" size="1">
                <option value"" selected="selected">- selecciona -</option>
                <option value="1">Si</option>
                <option value="0">No</option>
        </select>
	</td>
        <td>    <label>Identificador Anterior</label>
                <input class="text_input" type="text" name="identificador_ant"/>
        </td>
        <td>    <label>ID Med</label>
                <input class="text_input" type="text" name="id_med"/>
        </td>
        <td>    <label>ID Fis</label>
                <input class="text_input" type="text" name="id_fis"/>
        </td>
        <td>    <label>ID Psi</label>
                <input class="text_input" type="text" name="id_psi"/>
        </td>
</tr>
<tr>
        <td>    <label>CIP</label>
                <input class="text_input" type="text" name="cip"/>
        </td>
        <td>    <label>Consentiment</label>
                <input class="text_input" type="text" name="consentiment"/>
        </td>
        <td>    <label>data_consentiment</label>
                <input type="date" name="data_consentiment"/>
        </td>
        <td>    <label>Data Revisio Medica</label>
                <input type="date" name="data_revisiom"/>
        </td>
</tr>
<tr>
        <td>    <label>Consentiment DAD</label>
                <input class="text_input" type="text" name="consentiment_dad"/>
        </td>
        <td>    <label>Consentiment PROINF</label>
                <input class="text_input" type="text" name="consentiment_proinf"/>
        </td>
        <td>    <label>PRO SAL ES</label>
                <input class="text_input" type="text" name="pro_sal_es"/>
        </td>
        <td><label>Email 2</label>
        <input class="text_input" type="email" name="e_mail2"/>
    </td>
</tr>
<tr>
	<td rowspan="3">
		<label>Rol</label>
            {% for rols in rols %}		
            <input type="checkbox" name="rol" value={{rols.id_rol}}> {{ rols.nom_rol }}<br>
            <input type="date" name="inici"><input type="date" name="fi"><br><br>      
            {% endfor %}
	</td>

        <td rowspan="2">
            <label>Assignació de permisos</label><br><br>
            {% for grups in grups %}                        
                <input type="checkbox" name="grup" value={{grups.id_grup}}>{{ grups.nom_grup }}<br>
                <input type="date" name="inici_permis"><input type="date" name="fi_permis"><br><br>
            {% endfor %}
        </td>
-->
	<td>
	<button class="input" type="submit">Afegeix</button>
	</td>
</tr>
</table>
{% else %}

Fes Login per començar

{% endif %}
{% endblock %}
