{% extends "layout.html" %}
{% block content %}
<table>
</tr>
<form action="" method="POST">		
<tr>	<td>	<label>Nom Rol</label>
		<input class="text_input" type="text" name="nom_rol" pattern="([A-Za-z]{1,30})"/> 
	</td>
	<td>	<label>Template</label>
		<input class="text_input" type="text" name="template"/>
	</td>
	<td>
		<label>Actiu</label>
		<select id="actiu" name="actiu" size="1">
                        <option value="" selected="selected">- Selecciona -</option>
                        <option value="1">Si</option>
                        <option value="0">No</option>
		</select>		
	</td>
</tr>
<tr>
	<td>
	<button class="input" type="submit">Afegeix</button>
	</td>
</tr>
</table>
{% endblock %}