{% extends "layout.html" %}
{% block content %}
<h3>Cerca de Rols</h3>
<hr>
     {% for post in post %}
        <div>
	<article>
                <table>
                <tr>
                        <td> <label>	Nom Rol <hr></label>
                                {{ post.nom_rol }}
                        </td>
                        <td> <label>	Template <hr></label>
                                {{ post.template }}
                        </td>
                </tr>
                <tr>
                        <td>
            				<a class="input" href="{{ url_for('edit_rol', id_rol=post.id_rol) }}">Edita</a>
                        </td>
                        <td>
                                <a class="input" href="{{ url_for('delete_rol', id_rol=post.id_rol) }}">Elimina</a>
                        </td>
                </tr>
        </table>
</article>
</div>
{% endfor %}
{% endblock %}

