{% extends "layout.html" %}
{% block content %}
<h3>Cerca de Persones</h3>
<hr>
{% for post in post %}
<div>
	<article>
        <table>
                <tr>
                      <td>
                              <img src="/static/img/{{ post.foto }}" width="100px" height="30px" >
                      </td>
        			<td>
                               <label> Rols</label> <hr>
                                {% for rols in rols %}
                                    {% if rols.id_persona == post.id %}
                                        {% if 1 == rols.id_rol %}
                                            Entrenador
                                        {% elif 2 == rols.id_rol %}
                                            Jugador
                                        {% elif 3 == rols.id_rol %}
                                            Empleat
                                        {% endif %}
                                        <br>                                
                                    {% endif %}                                    
                                {% endfor %}
                        </td>
                </tr>
                <tr>
                        <td> <label>	Nom </label><hr>
                                {{ post.nom }}
                        </td>
                        <td> <label>	Cognom 1</label> <hr>
                                {{ post.cognom1 }}
                        </td>
                        <td> <label>	Cognom 2 </label><hr>
                                {{ post.cognom2 }}
                        </td>
                </tr>
                <tr>
                        <td> <label>	Sexe </label><hr>
                                {% if 1 == post.sexe|int() %}
                                           Home
                                {% elif 0 == post.sexe|int() %}
                                        Dona
                                {% endif %}
                        </td>
                        <td> <label>   DNI </label><hr>
                                {{ post.dni }}
                        </td>
                        <td> <label>   PASSPORT </label><hr>
                                {{ post.passport }}
                        </td>
                </tr>
                <tr>
                        <td> <label>   Data Naixement </label><hr>
                                {{ post.data_naix }}
                        </td>
                        <td> <label>   Telefon 1 </label><hr>
                                {{ post.telefon1 }}
                        </td>
                        <td> <label>   Telefon 2 </label><hr>
                                {{ post.telefon2 }}
                        </td>
                </tr>
                <tr>
                        <td> <label>   Email 1 </label><hr>
                                {{ post.email1 }}
                        </td>
                        <td> <label>   Email 2 </label><hr>
                                {{ post.email2 }}
                        </td>
                        <td> <label>   Actiu   </label><hr>
                                {% if 1 == post.actiu|int() %}
                                        Si
                                {% elif 0 == post.actiu|int() %}
                                        No
                                {% endif %}
                        </td>
                </tr>
                <tr>
                        <td><br><br>
                                <a class="input" href="{{ url_for('edit', id=post.id) }}">Edita</a>
                        </td>
                        <td><br><br>
                                <a class="input" href="{{ url_for('delete', id=post.id) }}">Elimina</a>
                        </td>
                </tr>
        </table>
</article>
{% endfor %}
{% endblock %}

