{% extends "layout.html" %}
{% block content %}
<h3>Cerca de Rols</h3>
<hr>
        <table>
                <tr>
                        <td> <label>	Nom Rol <hr></label></td>
                        <td> <label>	Template <hr></label></td>
                </tr>
{% for post in post %}
                <tr>
                        <td>{{ post.nom_rol }}</td>
                        <td>{{ post.template }}</td>
                        <td>
            				<a class="input" href="{{ url_for('edit_rol', id_rol=post.id_rol) }}">Edita</a>
                        </td>
                </tr>
{% endfor %}
        </table>
{% endblock %}

