{% extends "layout.html" %}
{% block content %}
{% if session['email'] %}

<h3>Llistat de Grups</h3>
<hr>
        <table>
            <tr>
                <td> <label>Nom Grup</label> <hr></td>
            </tr>
{% for post in post %}
            <tr>
                <td>{{ post.nom_grup }}</td>
                <td>
				<a class="input" href="{{ url_for('edit_grup', id_grup=post.id_grup) }}">Edita</a>
                </td>
                <td>
                      <a class="input" href="{{ url_for('delete_grup', id_grup=post.id_grup) }}">Elimina</a>
                </td>
            </tr>
{% endfor %}
        </table>
{% else %}

No tens permis per accedir aqui.

{% endif %}
{% endblock %}