<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cerca</title>
        <link rel="stylesheet" href="static/css/foundation.css" />
        <script src="static/js/vendor/modernizr.js"></script>
  </head>
  <body>
<h3>Cerca de Grups</h3>
<table width=20%>
<tr>
	<td>
		<a href="/conf" class="button postfix">Enrere</a>
	</td>
</tr>
</table>
     {% for post in post %}
    <article>
        <table>
            <tr>
                <td> 	Nom Grup <hr>
                    {{ post.nom_grup }}
                </td>
            </tr>
            <tr>
                <td>
				<a href="{{ url_for('edit_grup', id_grup=post.id_grup) }}">Edita</a>
                </td>
                <td>
                      <a href="{{ url_for('delete_grup', id_grup=post.id_grup) }}">Elimina</a>
                </td>
            </tr>
        </table>
    </article>
{% endfor %}
<script src="static/js/vendor/jquery.js"></script>
    <script src="static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
        </body>
</html>

