<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cerca</title>
        <link rel="stylesheet" href="static/css/foundation.css" />
        <script src="static/js/vendor/modernizr.js"></script>
  </head>
  <body>
<h3>Cerca de Persones</h3>
<table width=20%>
<tr>
	<td>
		<a href="/" class="button postfix">Enrere</a>
	</td>
</tr>
</table>
     {% for post in post %}
        <div>
	<article>
                <table>
                <tr>
                        <td>
                        <img src=/static/img/{{ post.foto }} width=100px height=30px >
                        </td>
			<td>
				Rol <hr>
				
			</td>
                </tr>
                <tr>
                        <td> 	Nom <hr>
                                {{ post.nom }}
                        </td>
                        <td> 	Cognom 1 <hr>
                                {{ post.cognom1 }}
                        </td>
                        <td> 	Cognom 2 <hr>
                                {{ post.cognom2 }}
                        </td>
                </tr>
                <tr>
                        <td> 	Sexe <hr>
                                {{post.sexe}}
                                {% if 1 == post.sexe %}
                                        Home
                                {% elif 0 == post.sexe %}
                                        Dona
                                {% endif %}
                        </td>
                        <td>    DNI <hr>
                                {{ post.dni }}
                        </td>
                        <td>    PASSPORT <hr>
                                {{ post.passport }}
                        </td>
                </tr>
                <tr>
                        <td>    Data Naixement <hr>
                                {{ post.data_naix }}
                        </td>
                        <td>    Telefon 1 <hr>
                                {{ post.telefon1 }}
                        </td>
                        <td>    Telefon 2 <hr>
                                {{ post.telefon2 }}
                        </td>
                </tr>
		<tr>
                        <td>    Email 1 <hr>
                                {{ post.email1 }}
                        </td>
                        <td>    Email 2 <hr>
                                {{ post.email2 }}
                        </td>
                        <td>    Actiu   <hr>
                                {{post.actiu}}
                                {% if post.actiu == 1 %}
                                        Si
                                {% elif post.actiu == 0 %}
                                        No
                                {% endif %}
                        </td>
                </tr>
                <tr>
                        <td>
                                <a href="{{ url_for('edit', id=post.id) }}">Edita</a>
                        </td>
                        <td>
                                <a href="{{ url_for('delete', id=post.id) }}">Elimina</a>
                        </td>
                </tr>
        </table>
</article>
{% endfor %}
<script src="static/js/vendor/jquery.js"></script>
    <script src="static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
        </body>
</html>

