{% extends "layout.html" %}
{% block content %}
<h3>Llistat de Grups</h3>
<hr>
</table>
     {% for post in post %}
    <article>
        <table>
            <tr>
                <td> <label>Nom Grup</label> <hr>
                    {{ post.nom_grup }}
                </td>
            </tr>
            <tr>
                <td>
				<a class="input" href="{{ url_for('edit_grup', id_grup=post.id_grup) }}">Edita</a>
                </td>
                <td>
                      <a class="input" href="{{ url_for('delete_grup', id_grup=post.id_grup) }}">Elimina</a>
                </td>
            </tr>
        </table>
    </article>
{% endfor %}
{% endblock %}