{% extends "layout.html" %}
{% block content %}

<h3>Configuració</h3>
<hr>
<table>
    <tr>
        <td>
            <a class="input" href="{{url_for('add_permis')}}">Afegir Permis</a>
        </td>
        <td>
            <a class="input" href="{{url_for('add_grup')}}">Afegir Grup</a>
        </td>
    </tr>
</table>
<hr>
<form action="cerca_permis" method="POST">
<table>
        <tr> 
                <td>
                    <label>Cerca Permisos:</label>
                    <hr>
                    <input class="text_input" type="text" name="cerca"/>
                </td>
                <td><br><br><br>
                <button class="input" type="submit">Cerca</button>
                </td>
        <tr>
                <td><br><br>
                    <a class="input" href="{{url_for('cerca_grup')}}">Llistat de Grups</a>
                </td>
        </tr>
</table>
</form>

{% endblock %}