{% extends "layout.html" %}
{% block content %}
<table>
    <tr>
        <td>
            <a href="{{url_for('add_permis')}}">Afegir Permis</a>
        </td>
        <td>
            <a href="{{url_for('add_grup')}}">Afegir Grup</a>
        </td>
    </tr>
</table>
<table><tr>
 <form action="cerca_permis" method="POST">
                 <td>
                    <label>Cerca Permisos</label>
                        <input class="text_input" type="text" name="cerca"/>
                
                <button class="input" type="submit">Cerca</button>
                </td>
                <td>
                    <a href="{{url_for('cerca_grup')}}">Grups</a>
                </td>
    </form></tr>
</table>
{% endblock %}