{% extends "layout.html" %}
{% block content %}
<h3>Editar Registre GE CAR</h3>
<hr>
<form action="" method="post">
<table width="100%">
		<tr>
                <td>
                        <label>ID</label>
                            {{ post.identificador }}
                </td>
                <td>
                        <label>Foto</label>
                            <input class="text_input" type="text" name="foto" value="{{post.foto}}"/><br>			
                </td>
                <td>
                        <label>DNI</label>
                        <input class="text_input" type="text" name="dni" value="{{post.dni}}" pattern=".{0}|([0-9]{8})+([a-z]{1})"/>
                </td>
                <td>
                        <label>PASSPORT</label>
                        <input class="text_input" type="text" name="passaport" value="{{post.passaport}}"/>
                </td>
        </tr>
        <tr>
                <td>
                        <label>Nom</label>
				  <input class="text_input" type="text" name="nom" value="{{post.nom}}" pattern="([A-Za-z ]{1,20})"/>
                </td>
                <td>
                        <label>Cognom 1</label>
                        <input class="text_input" type="text" name="cognom1" value="{{post.cognom1}}" pattern=".{0}|([A-Za-z ]{1,20})"/>
                </td>
                <td>
                        <label>Cognom 2</label>
                        <input class="text_input" type="text" name="cognom2" value="{{post.cognom2}}" pattern=".{0}|([A-Za-z ]{1,20})"/>
                </td>
                <td>			      	
                        <label>Sexe</label>
        				<select id="sexe" name="sexe" size="1">
                    			<option value="{{post.sexe}}" selected="selected">
        					{% if 0 == post.sexe|int() %}
        						Home
        					{% elif 1 == post.sexe|int() %}
        						Dona
        					{% endif %}
        					</option>
                        		<option value="0">Home</option>
            		        	<option value="1">Dona</option>
         	        		</select>
                </td>
        </tr>
        <tr>
                <td>
                        <label>SS</label>
                        <input class="text_input" type="text" name="ss" value="{{post.ss}}"/>
                </td>
                <td>
                        <label>Tipus</label>
                        <input class="text_input" type="text" name="tipus" value="{{post.tipus}}"/>
                </td>
                <td>
                        <label>Data Naixement</label>
                        <input type="date" name="data_neix" value="{{post.data_neix}}"/>             	
                </td>
                <td>
                        <label>Lloc Naixement</label>
                        <input class="text_input" type="text" name="lloc_neix" value="{{post.lloc_neix}}"/>
                </td>
        </tr>
        <tr>
                <td>
                        <label>Provincia Naixement</label>
                        <input class="text_input" type="text" name="provincia_neix" value="{{post.provincia_neix}}"/>
                </td>
                <td>
                        <label>Comarca Naixement</label>
                        <input class="text_input" type="text" name="comarca_neix" value="{{post.comarca_neix}}"/>
                </td>
                <td>
                        <label>Comunitat Naixement</label>
                        <input class="text_input" type="text" name="auto_neix" value="{{post.auto_neix}}"/>
                </td>
                <td>
                        <label>Pais Naixement</label>
                        <input class="text_input" type="text" name="pais_neix" value="{{post.pais_neix}}"/>
                </td>
        </tr>
        <tr>
                <td>
                        <label>Direcció</label>
                        <input class="text_input" type="text" name="direccio" value="{{post.direccio}}"/>
                </td>
                <td>
                        <label>Població</label>
                        <input class="text_input" type="text" name="poblacio" value="{{post.poblacio}}"/>
                </td>
                <td>
                        <label>Provincia</label>
                        <input class="text_input" type="text" name="provincia" value="{{post.provincia}}"/>
                </td>
                <td>
                        <label>CP</label>
                        <input class="text_input" type="text" name="cp" value="{{post.cp}}"/>
                </td>
        </tr>
        <tr>
                <td>
                        <label>Comarca</label>
                        <input class="text_input" type="text" name="comarca" value="{{post.comarca}}"/>
                </td>
                <td>
                        <label>Autonomia</label>
                        <input class="text_input" type="text" name="autonomia" value="{{post.autonomia}}"/>
                </td>
                <td>
                        <label>Pais</label>
                        <input class="text_input" type="text" name="pais" value="{{post.pais}}"/>
                </td>
                <td>
                        <label>Telefon 1</label>
                        <input class="text_input" type="text" name="telefon1" value="{{post.telefon1}}"/>         	
                </td>
        </tr>
        <tr>
                <td>
                        <label>Telefon 2</label>
                        <input class="text_input" type="text" name="telefon2" value="{{post.telefon2}}"/>
                </td>
                <td>
                        <label>Email 1</label>
                        <input class="text_input" type="email" name="e_mail" value="{{post.e_mail}}"/>
                </td>
                <td>
                        <label>Estudis Actuals</label>
                        <input class="text_input" type="text" name="estudis_act" value="{{post.estudis_act}}"/>
                </td>
                <td>
                        <label>Nivell Academic</label>
                        <input class="text_input" type="text" name="nivel_academic" value="{{post.nivel_academic}}"/>
                </td>
        </tr>
        <tr>
                <td>
                        <label>Tipus Centre</label>
                        <input class="text_input" type="text" name="tipus_centre" value="{{post.tipus_centre}}"/>
                </td>
                <td>
                        <label>Nom Centre</label>
                        <input class="text_input" type="text" name="nom_centre" value="{{post.nom_centre}}"/>
                </td>
                <td>
                        <label>Aceptació</label>
                        <input class="text_input" type="text" name="aceptacio" value="{{post.aceptacio}}"/>
                </td>
                <td>
                        <label>Revisió Medica</label>
                        <input class="text_input" type="text" name="revisiom" value="{{post.revisiom}}"/>
                </td>
        </tr>
        <tr>
                <td>
                        <label>Revisió Psicologica</label>
                        <input class="text_input" type="text" name="revisiops" value="{{post.revisiops}}"/>
                </td>
                <td>
                        <label>Fitxa Complerta</label>
                        <input class="text_input" type="text" name="fitxacomplerta" value="{{post.fitxacomplerta}}"/>
                </td>
                <td>
                        <label>Vehicle</label>
                        <input class="text_input" type="text" name="vehicle" value="{{post.vehicle}}"/>
                </td>
                <td>
                        <label>Matricula</label>
                        <input class="text_input" type="text" name="matricula" value="{{post.matricula}}"/>
                </td>
        </tr>
        <tr>
                <td>
                        <label>Tutor 1</label>
                        <input class="text_input" type="text" name="tutor1" value="{{post.tutor1}}"/>
                </td>
                <td>
                        <label>Contacte 1</label>
                        <input class="text_input" type="text" name="contacto1" value="{{post.contacto1}}"/>
                </td>
                <td>
                        <label>tutor 2</label>
                        <input class="text_input" type="text" name="tutor2" value="{{post.tutor2}}"/>
                </td>
                <td>
                        <label>Contacte 2</label>
                        <input class="text_input" type="text" name="contacto2" value="{{post.contacto2}}"/>
                </td>
        </tr>
        <tr>
                <td>
                        <label>Email 1</label>
                        <input class="text_input" type="text" name="e_mail" value="{{post.e_mail}}"/>
                </td>
                 <td>
                        <label>Actiu</label>
                        <select id="actiu" name="actiu" size="1">
            			<option value="{{post.actiu}}" selected="selected">
            				{% if post.actiu|int() == 1 %}
        						Si
        					{% elif post.actiu|int() == 0 %}
        						No
            				{% endif %}
                            </option>
                            <option value="1">Si</option>
                            <option value="0">No</option>	
                        </select>
                </td>
                <td>
                        <label>Identificador Anterior</label>
                        <input class="text_input" type="text" name="identificador_ant" value="{{post.identificador_ant}}"/>
                </td>
                <td>
                        <label>ID Med</label>
                        <input class="text_input" type="text" name="id_med" value="{{post.id_med}}"/>
                </td>
                <td>
                        <label>ID Fis</label>
                        <input class="text_input" type="text" name="id_fis" value="{{post.id_fis}}"/>
                </td>
        </tr>
        <tr>
                <td>
                        <label>ID Psi</label>
                        <input class="text_input" type="text" name="id_psi" value="{{post.id_psi}}"/>
                </td>
                <td>
                        <label>CIP</label>
                        <input class="text_input" type="text" name="cip" value="{{post.cip}}"/>
                </td>
                <td>
                        <label>Consentiment</label>
                        <input class="text_input" type="text" name="consentiment" value="{{post.consentiment}}"/>
                </td>
                <td>
                        <label>Data Consentiment</label>
                        <input type="date" name="data_consentiment" value="{{post.data_consentiment}}"/>             	
                </td>
        </tr>
        <tr>
                <td>
                        <label>Data Revisio Medica</label>
                        <input type="date" name="data_revisiom" value="{{post.data_revisiom}}"/>             	
                </td>
                <td>
                        <label>Consentiment DAD</label>
                        <input class="text_input" type="text" name="consentiment_dad" value="{{post.consentiment_dad}}"/>
                </td>
                <td>
                        <label>Consentiment PROINF</label>
                        <input class="text_input" type="text" name="consentiment_proinf" value="{{post.consentiment_proinf}}"/>
                </td>
                <td>
                        <label>PRO SAL ES</label>
                        <input class="text_input" type="text" name="pro_sal_es" value="{{post.pro_sal_es}}"/>
                </td>
                <td>
                        <label>Email 2</label>
                             <input class="text_input" type="email" name="e_mail2" value="{{post.e_mail2}}"/>
                </td>
        </tr>
        <tr>
                <td>
                        <label> Rols</label>
                            {% for rol in rols %}
                                    {% for ti in tip %}
                                    {% if ti.id_rol == rol.id_rol %}
                                        {{ rol.nom_rol }}<br>
                                        Inici: {{ ti.inici }}<br>
                                        Fi: {{ ti.fi }}<br><br>
                                    {% endif %}
                                    {% endfor %}                           
                            {% endfor %}
			</td>        
                <td>
                        <label>Permisos</label>
                            {% for grup in grups %}
                                    {% for perm_grup in perm_grup %}
                                        {% for perm_asig in perm_asig %}
                                            {% if perm_asig.id_permis == perm_grup.id_permis %}
                                                {{ grup.nom_grup }}<br>
                                                Inici: {{ perm_asig.inici }}<br>
                                                Fi: {{ perm_asig.fi }}<br><br>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                            {% endfor %}
                </td>
                	<td>
				<button class="input" type="submit">Edit</button>
                </td>
                <td>
                    <a href="/upload" class="input">Puja'n una</a>	
                </td>
        </tr>
</table>
</form>
{% endblock %}
