{% extends "layout.html" %}
{% block content %}
<form action="" method="POST">
<table>
    <tr>
        <td>
		<label>ID<br></label>
		{{grups.id_grup}}
		
        </td>
        <td>
            <label>Actiu<br></label>
                <select id="actiu" name="actiu" size="1">
                    <option value="" selected="selected">
				{% if 1 == grups.actiu|int() %}
                            Si
               		{% elif 0 == grups.actiu|int() %}
                            No
                      	{% endif %}</option>
                    <option value="0">No</option>
                    <option value="1">Si</option>
                </select>
		
        </td>	
    </tr>
    <tr>
        <td>
            <label>Nom Grup<br></label>
                <input class="text_input" type="text" name="nom_grup" value="{{grups.nom_grup}}" pattern="([A-Za-z0-9]{1,40})"/>
            
        </td>
    </tr>
    <tr>
        <td>
            <button class="input" type="submit">Edita</button>
        </td>
    </tr>
</form>
</table>
{% endblock %}