{% extends "layout.html" %}
{% block content %}
<h3>Editar Permis</h3>
<hr>
<form action="" method="POST">
<table>
        <tr>
                <td>
				<label>ID<br>
				{{permisos.id_permis}}
				</label>
			</td>
			<td>
				<label>Actiu<br>
                			<select id="actiu" name="actiu" size="1">
                        			<option value="" selected="selected">
							{% if 1 == permisos.actiu|int() %}
                                                Si
                                		{% elif 0 == permisos.actiu|int() %}
                                                No
                                    	{% endif %}</option>
                                    <option value="0">No</option>
                                    <option value="1">Si</option>
                            </select>

				</label>
			</td>	
        </tr>
        <tr>
                <td>
                    <label>Nom Permis<br>
					<input class="text_input" type="text" name="nom_permis" value="{{permisos.nom_permis}}" pattern="([A-Za-z]{1,40})"/>
                    </label>
                </td>	     
        </tr>
        <tr>
                <td>
				<button class="input" type="submit">Edita</button>
                </td>
        </tr>
	</table>
{% endblock %}
