{% extends "layout.html" %}
{% block content %}
<h3>Home</h3>
<hr>
{% if 'email' in session %}
<table>
<tr>	
    <td>
        <a href="add" class="input">Afegir nou registre</a>
    </td>
    <td>
        <a class="input" href="add_rol">Afegir nou ROL</a>
    </td>
</tr>
</table>
<hr>
<table>
	<tr>
		<td>
<form action="cerca_per" method="POST">
			<label>Cerca Persones:</label>
			<hr>
			<input class="text_input" type="text" name="cerca"/>			
		</td>
		<td><br><br><br>
			<button class="input" type="submit">Cerca</button>
		</td>
</form>
	</tr>
</table>
<table>
        <tr>
                <td>
                       
    <form action="cerca_rol" method="POST">
                <label>Cerca Rols:</label>
                        <hr>
                        <input class="text_input" type="text" name="cerca"/>
                </td>
                <td><br><br><br>
                        <button class="input" type="submit">Cerca</button>
                </td>
    </form>
        </tr>
</table>
{% else %}

Fes Login per començar

{% endif %}
{% endblock %}
