{% extends "layout.html" %}
{% block content %}

Fes Login per començar

{% if 'email' in session %}
<table>
<tr>	<td><a href='add' class="button postfix">Afegir nou registre</a></td>
        <td>
                <a href='add_rol' class="button postfix">Afegir nou ROL</a>
        </td>
</tr>
</table>
</div>
<hr>
<table>
	<tr>
		<td>
<form action="cerca_per" method="POST">
			<label>Cerca Persones:</label>
			<hr>
			<input class="text_input" type="text" name="cerca"/>			
		</td>
		<td width=40%>
			<button class="input" type="submit">Cerca</button>
		</td>
</form>
	</tr>
</table>
<table>
        <tr>
                <td>
                       
    <form action="cerca_rol" method="POST">
                <label>Cerca Rols:</label>
                        <hr>
                        <input class="text_input" type="text" name="cerca"/>
                </td>
                <td width=40%>
                        <button class="input" type="submit">Cerca</button>
                </td>
    </form>
        </tr>
</table>
{% endif %}
{% endblock %}
