{% extends "layout.html" %}
{% block content %}
<h3>Inici</h3>
<hr>
{% if 'email' in session %}
<table>
<tr>	
    <td>
        <a href="add" class="input">Afegir nou registre</a>
    </td>
    <td>
        <a class="input" href="add_rol">Afegir nou ROL</a>
    </td>
</tr>
</table>
<hr>
<table>
	<tr>
		<td>
<form action="cerca_per" method="POST">
			<label>Cerca Persones:</label>
			<hr>
			<input class="text_input" type="text" name="cerca"/>			
		</td>
		<td><br><br><br>
			<button class="input" type="submit">Cerca</button>
		</td>
</form>
	</tr>
</table>
<table>
        <tr>
                <td>
                       
    <form action="cerca_rol" method="POST">
                <label>Cerca Rols:</label>
                        <hr>
                        <input class="text_input" type="text" name="cerca"/>
                </td>
                <td><br><br><br>
                        <button class="input" type="submit">Cerca</button>
                </td>
    </form>
        </tr>
</table>
{% elif 'email_usu' in session %}

Hola {{ session.email_usu }}

{% else %}

  {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  <form action="{{ url_for('index') }}" method="post">
    {{ form.hidden_tag() }}
    
    {{ form.email.label }}
    {{ form.email }}
     
    {{ form.password.label }}
    {{ form.password }}
     
    {{ form.submit }}
  </form>
<br>

<a href="{{ url_for('f_password')}}">Has oblidat el password?</a> 

{% endif %}
{% endblock %}
