{% extends "layout.html" %}
{% block content %}
<h3>Dades</h3>
<hr>
<table width="80%">
		<tr>
			<td>
				<label>ID</label>
				{{ post.id }}
			</td>
                <td colspan="2">
                </td>
			<td rowspan="4">
				<label> Rols</label>
                    {% set var = {'v': True} %}
                    {% for rol in rols %}
                            {% for ti in tip %}
                            {% if ti.id_rol == rol.id_rol %}
                                {{ rol.nom_rol }}<br>
                                Inici: {{ ti.inici }}<br>
                                Fi: {{ ti.fi }}<br><br>
                            {% endif %}
                            {% endfor %}                           
                    {% endfor %}
                    
			</td>
            </tr>
            <tr>
                    <td>
                        <label>Nom</label>
					{{post.nom}}
                        </td>
                        <td>
			      	<label>Cognom 1</label>
			        	{{post.cognom1}}
                        </td>
                        <td>
			      	<label>Cognom 2</label>
			        	{{post.cognom2}}
                        </td>
            </tr>
            <tr>
                        <td>			      	
			      	<label>Sexe</label>
        					{% if 1 == post.sexe|int() %}
        						Home
        					{% elif 0 == post.sexe|int() %}
        						Dona
        					{% endif %}
                      </td>
                      <td>
        				<label>DNI</label>
                	                {{post.dni}}
                      </td>
                      <td>
        				<label>PASSPORT</label>
                	                {{post.passport}}
                      </td>
            </tr>
            <tr>
                      <td>
        				<label>Data Naixement</label>
                        	        {{post.data_naix}}               	
                        </td>
                        <td>
            			<label>Telefon 1</label>
                                 	{{post.telefon1}}
                        </td>
                        <td>
                            <label>Telefon 2</label>
                                {{post.telefon2}}
                        </td>
            </tr>
            <tr>
                        <td>
                            <label>Email 1</label>
                                {{post.email1}}
                        </td>
                        <td>
                            <label>Email 2</label>
                                {{post.email2}}
                        </td>
                        <td>
                            <label>Actiu</label>
        						{% if post.actiu|int() == 1 %}
        							Si
        						{% elif post.actiu|int() == 0 %}
        							No
        						{% endif %}
                        </td>
                        <td rowspan="2">
                            <label>Permisos</label>
                            {% for grup in grups %}
                                    {% for perm_grup in perm_grup %}
                                        {% for perm_asig in perm_asig %}
                                            {% if perm_asig.id_permis == perm_grup.id_permis %}
                                                {{ grup.nom_grup }}<br>
                                                Inici: {{ perm_asig.inici }}<br>
                                                Fi: {{ perm_asig.fi }}<br><br>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                            {% endfor %}
                        </td>
            </tr>
            <tr>
			<td>
				<label>Foto</label>
        			{{post.foto}}<br>			
         </td>
	</tr>
</table>
{% endblock %}
