{% extends "layout.html" %}
{% block content %}

<h3>Perfil</h3>
<hr>
{% if session['email'] %}
    Perfil de: {{ session['email'] }}
    <br><br>
    Nom: {{ user.nom }}<br>
    Cognom: {{ user.cognom }}
    <br><br>
    <a class="input" href="{{ url_for('canvi_password_admin', uid=user.uid) }}">Canvia password</a>

{% elif session['email_usu'] %}
    Perfil de: {{ session['email_usu'] }}
    <br><br>
    Nom: {{ post_user.nom }}<br>
    Cognom: {{ post_user.cognom1 }}
    <br><br>
    <a class="input" href="{{ url_for('canvi_password', id=post_user.id) }}">Canvia password</a>
{% endif %}
{% endblock %}