{% extends "layout.html" %}
{% block content %}


<form action="confirm_email" onsubmit="return myFunction()" method="POST">
    <input type="hidden" name="email" value="{{email}}"/>
    <label>Nou Password per {{ user.nom }}</label>
    <input id="pass1" class="text_input" type="password" name="password"/><br><br>
    <input id="pass2" class="text_input" type="password" name="cpassword"/><br><br>
    <input type="submit" value="Submit">
</form>
<script>
    function myFunction() {
        var pass1 = document.getElementById("pass1").value;
        var pass2 = document.getElementById("pass2").value;
        var ok = true;
        if (pass1 != pass2) {
            alert("Passwords Do not match");
            document.getElementById("pass1")
            document.getElementById("pass2")
            ok = false;
        }
        else {
            //alert("Passwords Match!!!");
        }
        return ok;
    }
</script>
{% endblock %}