{% extends "layout.html" %}
{% block content %}
<h3>Canvi de Password</h3>
<hr>

{% if session['email'] %}
    <form action="" onsubmit="return myFunction()" method="POST">
        <label>Nou Password per {{ user.nom }}</label>
        <input id="pass1" class="text_input" type="password" name="password"/><br><br>
        <input id="pass2" class="text_input" type="password" name="cpassword"/><br><br>
        <input type="submit" value="Submit">
    </form>
{% elif session['email_usu'] %}
    <form action="" onsubmit="return myFunction()" method="POST">
        <label>Nou Password per {{ post.nom }}</label>
        <input id="pass1" class="text_input" type="password" name="password"/><br><br>
        <input id="pass2" class="text_input" type="password" name="cpassword"/><br><br>
        <input type="submit" value="Submit">
    </form>

{% else %}
    <form action="confirm_email" onsubmit="return myFunction()" method="POST">
        <input type="hidden" name="email" value="{{email}}"/>
        <label>Nou Password per {{ user.nom }}</label>
        <input id="pass1" class="text_input" type="password" name="password"/><br><br>
        <input id="pass2" class="text_input" type="password" name="cpassword"/><br><br>
        <input type="submit" value="Submit">
    </form>
{% endif %}

<script>
    function myFunction() {
        var pass1 = document.getElementById("pass1").value;
        var pass2 = document.getElementById("pass2").value;
        var ok = true;
        if (pass1 != pass2) {
            alert("Els passwords no coincideixen.");
            document.getElementById("pass1")
            document.getElementById("pass2")
            ok = false;
        }
        else {
                if (pass1.length < 8) {
                    alert("El password ha de tenir mínim 8 caràcters."); 
                    ok = false;
                }
        }
        return ok;
    }
</script>
{% endblock %}