{% extends "layout.html" %}
{% block content %}
  <h3>Administració</h3>
 <hr>
  {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  <form action="{{ url_for('signin') }}" method="post">
    {{ form.hidden_tag() }}
    
    {{ form.email.label }}
    {{ form.email }}
     
    {{ form.password.label }}
    {{ form.password }}
     
    {{ form.submit }}
  </form>
<br>
<a href="{{ url_for('f_password_admin')}}">Has oblidat el password?</a>
{% endblock %}
