<html>
        <head>
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />

                <title>Nou Registre</title>
                <link rel="stylesheet" href="../static/css/foundation.css" />
                <script src="../static/js/vendor/modernizr.js"></script>
	</head>
<body>
<table>
<tr>
	<td>
		Foto
       		<form action="upload" method="post" enctype="multipart/form-data">
        		<input type=file name="foto"/>
        </td>
	<td>
	        	<input type="submit" value="Upload">
	</td>        

</tr>
<tr>	</form>
	<td colspan=2>
	<a href="/" class="button postfix">Sense Foto</a>
	</td>
</tr>
</table>
</body>
